/***
**Flying Image
*****/
#animated-product-image-box {
  position: absolute;
  z-index: 99999;
  width: 60px;
}

@keyframes flyingProductRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#animated-product-image-box img {
  animation: flyingProductRotate 1s infinite;
}

/*Cart Trigger*/
@keyframes cartTriggerAnim {
  0% {
    transform: rotate(0deg) translateY(0px);
  }
  50% {
    transform: rotate(-45deg) translateY(50px);
  }
  100% {
    transform: rotate(45deg) translateY(-10px);
  }
}
.new-product-item-added {
  animation: cartTriggerAnim 0.6s infinite;
  animation-delay: 0.5s;
}

.woosc-floting-cart-trigger {
  position: fixed;
  right: 10px;
  z-index: 999;
  cursor: pointer;
  box-shadow: 0px 0px 15px #999;
  top: 50%;
  text-align: center;
  color: #fff;
  min-width: 80px;
  transition: 0.5s;
  background-color: #6b3ff1;
}

.woosc-floting-cart-trigger.woosc-floting-cart-trigger-activated {
  transform: rotate(45deg);
  top: 100px;
  right: 340px;
}

.woosc-floting-trigger-item-count:before {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  height: 23px;
  top: -17px;
  border: 2px solid #6b3ff1;
  border-bottom: none;
  border-radius: 30px;
}

.woosc-floting-trigger-item-count {
  width: 100%;
  padding: 10px 5px;
  position: relative;
  min-height: 50px;
  box-sizing: border-box;
}

.woosc-floting-trigger-cart-total {
  width: 100%;
  padding: 5px;
  min-height: 30px;
  box-sizing: border-box;
}

.woosc-floating-cart {
  position: fixed;
  right: -320px;
  z-index: 999999;
  top: 0;
  bottom: 0;
  width: 320px;
  box-sizing: border-box;
  overflow-y: auto;
  border-left: 1px solid #f5f5f5;
  background-color: #fff;
  transition: 0.5s;
}
.woosc-floating-cart.woosc-floating-cart-activated {
  right: 0;
}
.woosc-floating-cart .woosc-floating-cart-inner {
  position: relative;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  padding: 60px 0 45px;
}
.woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0px 20px;
  overflow: auto;
}
.woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper ul {
  margin: 0 -20px;
  padding: 0;
}
.woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper ul li {
  list-style: none;
  position: relative;
  display: block;
  border-bottom: 1px solid #f5f5f5 !important;
  padding: 10px 20px 10px 60px !important;
}
.woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper ul li:nth-child(even) {
  background-color: #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
}
.woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper ul li:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper ul li img {
  float: right;
  max-width: 40px;
  padding: 2px;
  background-color: #fff;
  box-shadow: 0 0 2px #dedbdb;
  margin-top: 4px;
}
.woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper ul li h4 {
  font-size: 16px;
}
.woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper ul li a {
  display: block;
  color: inherit;
  text-decoration: none;
  padding-bottom: 10px;
}
.woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper ul li a.remove_from_cart_button {
  position: absolute;
  left: 20px;
  top: 23px;
  padding: 5px;
  line-height: 7px;
  border-radius: 50%;
  transition: 0.5s;
  color: #FFF;
  display: block;
  height: 20px;
  width: 20px;
  background-color: red;
  font-size: 14px;
  box-sizing: border-box;
  text-decoration: none;
}
.woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper ul li a.remove_from_cart_button:hover {
  color: white;
  background-color: #f10061;
  text-decoration: none;
}
.woosc-floating-cart .woosc-floating-cart-inner .woosc-floating-cart-item-wrapper p {
  display: none;
}
.woosc-floating-cart .woosc-floating-cart-header {
  top: 0;
  background: #6b3ff1;
  position: absolute;
  box-sizing: border-box;
  padding: 16px;
  left: 0;
  right: 0;
}
.woosc-floating-cart .woosc-floating-cart-header h3 {
  font-size: 24px;
  margin: 0;
  color: #ffffff;
}
.woosc-floating-cart .woosc-floating-cart-footer {
  bottom: 0;
  background: #ffffff;
}
.woosc-floating-cart .woosc-floating-cart-footer ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.woosc-floating-cart .woosc-floating-cart-footer ul li {
  list-style: none;
  width: 50%;
}
.woosc-floating-cart .woosc-floating-cart-footer ul li:last-child a {
  background: #5727ea;
}
.woosc-floating-cart .woosc-floating-cart-footer ul li a {
  padding: 10px;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
  background: #6b3ff1;
  display: block;
  text-decoration: none;
}
